{%extends "base.html"%}
{%block info %}
<section>
    <div class="main_container">
        <div class="cards-h2">
            <h2>Правила игры</h2>
        </div>
        <div>
            <h3>Об игре</h3>
            <p>«Шакал lite» — стратегическая игра. Секрет
                «Шакала» в том, что фишки поля ложатся в произвольном порядке, благодаря чему игра
                каждый раз будет разная! Кубика в игре нет, и результат зависит в большей степени
                от ваших логических и стратегических способностей, а не от везения. Всё это делает
                «Шакала» поистине интересной и захватывающей игрой, в которую хочется играть снова
                и снова! Игра рассчитана на 2, 3 или 4 игроков. Рекомендуется взрослым и детям с 6 лет.
                Продолжительность партии — примерно 2-5 минут.</p>
        </div>
        <div>
            <h3>Цель игры</h3>
            <p>Смысл игры очень простой. Надо собрать 3 мешочка с золотом раньше.
                других.</p>
        </div>
        <div>
            <h3>Как ходить</h3>
            <p>Первым начинает игрок под номером один. Далее участники ходят по очереди.</p>
            <p>Игрок ходит на одну клетку по вертикали, горизонтали или диагонали.
                Если клетка закрыта (перевёрнута рубашкой вверх), игрок открывает её и выполняет
                действие, предусмотренное рисунком (см. Значение клеток поля). Игрок также может ходить по открытым
                ранее клеткам, выполняя все указанные на них действия.</p>
        </div>
        <div>
            <h3>Как бить врагов</h3>
            <p>Очень просто: для этого нужно переместиться на клетку, где стоит соперник. При этом последний улетает к
                себе на стартовое поле, и продолжает игру оттуда.</p>
        </div>
        <div>
            <h3>Победа</h3>
            <p>В этой игре помеждает тот, кто соберет 3 мешочка с олотом раньше остальных.</p>
        </div>
        <div id="cell_value">
            <h3>Значения клеток</h3>
            <div class="rules_img">
                <figure class="figure">
                    <img src="/static/img/closed.jpg" class="img-thumbnail" alt="">
                    <figcaption class="figure-caption">Неизведанное</figcaption>
                </figure>

                <p>Неизведанная клетка. Чтобы узнать что скрывается под ней, необходимо вступить на неё.</p>
            </div>
            <div class="rules_img">
                <figure class="figure">
                    <img src="/static/img/start.jpg" class="img-thumbnail" alt="">
                    <figcaption class="figure-caption">Старт</figcaption>
                </figure>

                <p>Начальная клетка каждого участника. При убийстве вас отбрасывает на неё.</p>
            </div>
            <div class="rules_img">
                <figure class="figure">
                    <img src="/static/img/empty.gif" class="img-thumbnail" alt="">
                    <figcaption class="figure-caption">Пустота</figcaption>
                </figure>

                <p>Вступив на эту клетку, вы предвещаете какого-то события. Но ничего не происходит. Это пустая клетка.
                    Клетка предназначена для обхода клеток с людоедами.</p>
            </div>
            <div class="rules_img">
                <figure class="figure">
                    <img src="/static/img/move.gif" class="img-thumbnail" alt="">
                    <figcaption class="figure-caption">Везение</figcaption>
                </figure>

                <p>Клетка дарует вам еще один ход. Выбери правильное направление. Клетка сохраняет своё свойство после
                    открытия. То есть, вы получите дополнительный ход, если наступите на неё, в любом случае</p>
            </div>
            <div class="rules_img">
                <figure class="figure">
                    <img src="/static/img/trap.gif" class="img-thumbnail" alt="">
                    <figcaption class="figure-caption">Неудача</figcaption>
                </figure>

                <p>К сожалению, на данной клетке содержится людоед. Вам необходимо будет спрятаться от него, поэтому вы
                    пропустите ход. Каждый раз, вступая на эту клетку, даже, если она открыта, вы будете пропускать ход.
                </p>
            </div>
            <div class="rules_img">
                <figure class="figure">
                    <img src="/static/img/gold.gif" class="img-thumbnail" alt="">
                    <figcaption class="figure-caption">Добыча</figcaption>
                </figure>

                <p>Самая главная клетка этой игры. Если откроете её впервые получите золото. Второй раз получить золото
                    на этой клетке нельзя. Ходить по этой клетке повторно можно</p>
            </div>
        </div>
    </div>
</section>



{% endblock %}